<!DOCTYPE html>
<html> 
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/editor.css' />
		<script stype="text/javascript" src="/lib/ccchart-min.js" charset="utf-8"></script>
		<script> var script_s = <%- JSON.stringify(script) %>;</script>
	</head>
	<body>
		<h1><%= title %></h1>
		<h2>dashboard</h2>
		<center>
			<canvas id="hoge"></canvas>
			start: <% if(typeof script == "undefined"){ %><%= script[transition.length - 1].action %><% } %> <% if(typeof script == "undefined"){ %>end:<%= script[0].action %><% } %>
			<table>
				<tr>
					<th>from / to</th>
				<% for(var lj=0; lj<transition.length; lj++) { %>
				<th><%= lj %></th>
				<% } %>
				<th>total</th>
				</tr>
				
				<% for(var i=0; i<transition.length; i++) { %>
				<% var alltrans = 0; for(var ij=0; ij<transition[i].length; ij++) { alltrans += transition[i][ij]; }%>

				<tr>
					<td><%= i %></td>
					<% for(var j=0; j<transition[i].length; j++) { %>

					<td class="transition"><% if(alltrans != 0 && transition[i][j] != 0 ){ %><%= transition[i][j] %>(<%= Math.round(transition[i][j] / alltrans * 100)/100 %>)<% }else{ %>-<% } %></td>
					<% } %>
					<td class="transition"><%= alltrans %></td>
				</tr>
				<% } %>
			</table>
			<canvas id="hoge2"></canvas>
		</center>
		<script stype="text/javascript" src="/js/analysis.js" charset="utf-8"></script>
		<h2>log</h2>
		<table>
			<tr>
				<th>id</th>
				<th>時刻</th>
				<th>経過時間</th>
				<th>アクション</th>
				<th>速度<br />(単位時間の打鍵数)</th>
				<th>文章</th>
				<th>字数</th>
				<th>インタビュー<br /> (1)リソース (2)顧客の課題と機能 (3)インタラクション</th>
			</tr>
			<% for(var i=0; i<script.length; i++) { %>
<tr>
			<td><%= script.length - i %></td>
			<td><%= script[i].recclock %></td>
			<td><%= script[i].rectime %></td>
			<td><%= script[i].action %></td>
			<td><%= script[i].keycount %></td>
			<td class='script'>
			<% if(i != script.length - 1){ for(var ai= 0; ai < script[i].add.length; ai++){%>
			<font color='red'>
			<%- script[i].add[ai] %>
			</font><br />
			
			<% } %>
			<% }else{ %>
			<%- script[i].add %>
			<% } %>
			<% for(var ri= 0; ri < script[i].remove.length; ri++){%>
			<font color='blue'>
			<%- script[i].remove[ri] %>
			</font><br />
			<% } %>
			</td>
			<td><%= script[i].scriptlen %></td>
			<td><%= script[i].tips %></td>
		</tr>
	<% } %>
	</table>
</body>

</html>
